* {
    box-sizing: border-box;
}
body {
    padding: 7rem 0;
    overflow: hidden;
}

main {
    background-color: hsl(212, 45%, 89%);
    width: 100%;
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    background-color: hsl(0, 0%, 100%);
    width: 80%;
    margin: 1rem auto;
    border-radius: 25px;
    max-width: 240px;
}

.content h1, .content p{
    text-align: center;
    width: 80%;
    margin: 0 auto;
    font-family: sans-serif
}

.content h1 {
    font-size: 1rem;
}

.content p {
    padding: .8rem 0 1.8rem 0;
    font-size: .7rem;
}

.content img {
    width: 100%;
    padding: 1rem;
    border-radius: 25px;
}

footer {
     font-size: 11px; text-align: center; 
    }
footer a {
     color: hsl(228, 45%, 44%); 
    }

@media only screen and (min-width: 990px) {
    body {
        background-image: url(images/Artboard\ 1.png);
    }
}
